* {
    font-family: 'Inter', sans-serif;
}
.my-button {
    display: inline-block;
    padding: 0.6em 1.2em;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    user-select: none;
    margin: 0.5em; 
}
.my-button--primary {
    background: #006FEE ; 
    color: white;
    border: none;
}

.my-button--primary:hover {
    background: #024694 ; 
    transform: translateY(-2px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}


.my-button--bordered {
    background: white;
    color: #006FEE ;
    border: 2px solid #006FEE ;
    box-shadow: none;
}

.my-button--bordered:hover {
    background: white;
    color: #024694;
    transform: translateY(-2px);
    border-color: #024694;
}

.my-button--sm {
    padding: 0.4em 0.8em;
    font-size: 0.875rem;
}

.my-button--md {
    padding: 0.6em 1.2em;
    font-size: 1rem;
}

.my-button--lg {
    padding: 0.8em 1.6em;
    font-size: 1.25rem;
}


.my-button--disabled {
    background: white;
    color: gray;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}


.my-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}
